

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  border: 3px solid #000;
  margin: 0;
  padding: 0;
}

.navBar {
  background-color: #75e2e6;
  border-bottom: 4px solid #048eaa;
  height: 75px;
  margin-right: 0;
  margin: 0 auto;
  width: 100%;
}

.dog-icon {
  height: 60px;
  margin-top: 10px;
  width: 8%;
}

ul {
  float: right;
  margin: 0px, 0px, 0px, 0px;
  }

.li {
  display: inline-block;
  font-size: 23px;
  font-weight: 400;
  margin: 0px 18px;
  text-decoration: none;
}

a {
  color: #000;
  text-decoration: none;
}

.title-content {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url("images/park.jpg") no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 550px;
  padding-top: 15px; 
  text-align: center;
}

section {
  padding: 0 32px 65px 0;
}

h1 {
  margin-top: 15px;
}

.a-site {
  color: #fff;
  font-size: 40px;
  font-weight: normal;
  padding-top:10px;
}

.dog1 {
  border-radius: 50% 50% 50% 50%;
  border: 5px solid #048eaa;
  height: 230px;
  margin-bottom: 20px;
}

label {
  color: #fff;
  margin-right: 535px;
}

input {
  border-radius: 3px;
  display: block;
  height: 60px;
  margin: 20px auto auto auto;
  width: 40%;
}

button {
  background-color: #75e2e6;
  border-radius: 3px;
  font-size: 20px;
  height: 60px;
  margin-top: 30px;
  width: 40%;
}

article {
  display: inline-block;
  padding: 25px 36px 0 36px;
  text-align: center;
  vertical-align: top;
  width: 28%;
}

.how-to,
.what-is,
.facts-from {
  font-weight: bold;
}

.dog2,
.dog3,
.dog4 {
  border-radius: 50% 50% 50% 50%;
  border: 5px solid #048eaa;
  height: 230px;
  margin-bottom: 20px;
  width: 55%;
}

.article1 {
  padding-left: 5px;
}

h2 {
  font-size: 30px;
}

.tungg,
.long-doggo,
.angery {
  font-size: 20px;
  height: 310px;
  margin: 0 15px 0 45px;
  text-align: left;
  width: 83%;
}

.how,
.what,
.facts {
  background-color: #048eaa;
  color: #fff;
  font-size: 20px;
  margin-left: 46px;
  margin-top: 20px;
  width: 98%;
}

footer {
  background-color: #048eaa;
  height: 230px;
}

.learn {
  color: #fff;
  font-size: 23px;
  padding: 60px 0 0 0;
  text-align: center;
}

div {
  margin-left: 550px;
  padding-top: 0px
}

.twitter,
.insta,
.facebook,
.linkedin {
  height: 60px;
  margin-top: 20px;
  padding-right: 20px;
}
